/* RESET GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Roboto', 'Arial', sans-serif;
}

/* ESTRUTURA FLEXÍVEL */
body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  background-color: transparent;
}

.fundo{
  filter: blur(8px);
  position: fixed;
  z-index: -2;
  width: 60%;
  height: 70%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(logotipo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.camadaescura{
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 120%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0d1b2ab2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #05203d;
  padding: 20px;
  border-bottom: 2px solid rgb(236, 198, 128);
}

footer {
  margin-top: 50px;
  background-color: #05203d;
  padding: 20px;
  color: white;
  text-align: center;
  border-top: 2px solid rgb(236, 198, 128);
}

/* TOPO */
.cabecario {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navegacao {
  display: flex;
  gap: 40px;
  margin-top: 5px;
  margin-right: 40px;
  font-size: 15px;
  flex-wrap: wrap;
  font-weight: bold;
  align-items: center;
}

/* INPUT DE PESQUISA */
/* I:logo de lupa*/
.input-search {
  padding: 10px 40px 10px 10px;
  font-size: 25.5px;
  border-radius: 50px;
  background: url('https://cdn-icons-png.flaticon.com/512/622/622669.png') no-repeat right 10px center;
  background-size: 20px 20px;
  background-color: white;
  cursor: text;
  display: flex;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
}

/* I: links de navegação */
.a1 {
  color: white;
  text-decoration: none;
  transition: 0.8s ease;
}

.a1:hover {
  text-decoration: underline;
}

/* K: LOGO */
.logo {
  width: 90px;
  border-radius: 50%;
}

.logohome {
  text-align: left;
  position: relative;
}

.divdobotaosugerir {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.botaosugerir{
  display: flex;
  padding: 8px;
  border: 2px solid rgb(236, 198, 128);
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.botaosugerir:hover {
  transform: scale(1.05);
}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card{
  width: 250px;
  max-height: 400px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  background-color: #05203d;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.289);
  border-radius: 15px 15px 15px 15px;
  border: 2px solid rgb(236, 198, 128);
  transition: transform 0.5s ease-in-out;
  padding-bottom: 20px;
  color: white;
}

.card:hover{
  transform: scale(1.05);
}

.cardimagem img{
  width: 160px;
  height: 160px;
  margin-top: 10px;
  border: 2px solid rgb(236, 198, 128);
  border-radius: 15px 15px 15px 15px;
  background-size: cover;
}

.cardstext{
  margin-top: 10px;
}

.card .cardtitulo{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-weight: bold;
  font-size: larger;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
  margin-right: 5px;
}

.card.expanded .cardtitulo{
  -webkit-line-clamp: unset;
}

.cardpreco{
  margin-top: 8px;
  font-size: larger;
  color: rgb(236, 198, 128);
  font-weight: bold;
}

.card .carddescricao{
  display: -webkit-box;
  font-size: small;
  text-align: justify;
  margin-top: 15px;
  margin-bottom: 2px;
  margin-left: 8px;
  margin-right: 5px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: bold;
}

/* I: expande akakak*/
.card.expanded {
  max-height: 600px;
}

/* I: desativa as limitações */
.card.expanded .carddescricao {
  -webkit-line-clamp: unset;
}

.comprar{
  text-decoration: none;
  background-color: rgb(236, 198, 128);
  color: black;
  font-size: medium;
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;
  width: 100px;
  padding: 10px;
  margin-top: 10px;
  transition: ease 0.4s;
  cursor: pointer;
}

.comprar:hover{
  background-color: #0D1B2A;
  border: 2px solid white;
  color: white;
}

.divbotaosaber {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sabermais{
  background-color: rgb(236, 198, 128);
  color: black;
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;
  width: 60px;
  font-size: medium;
  padding: 5px;
  margin-top: 10px;
  transition: ease 0.4s;
  cursor: pointer;
}

.sabermais:hover{
  background-color: #0D1B2A;
  border: 2px solid white;
  color: white;
}

.textoinfor{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.linksobre{
  color: white;
  text-decoration: none;
  margin-left: 30px;
}

.contato{
  margin-left: 59px;
}

.contatoemail {
  color: rgb(236, 198, 128);
}

.logos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.redessociais{
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  text-align: left;
  text-decoration: none;
  font-size: 20px;
  gap: 5px;
}

.sugestao{
  text-align: center;
  position: static;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 90%;
  height: 300%;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid rgb(236, 198, 128);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.268);
  background-color: #05203d;
  color: white;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  z-index: 1;
}

.sugestao h1 {
  font-size: 50px;
}

.textossugestao{
  margin-left: 10px;
  margin-top: 30px;
  font-size: large
}

.fecharsugestao{
  text-decoration: none;
  color: white;
  font-size: larger;
  background-color: #05203d;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid rgb(236, 198, 128);
  width: 100px;
  margin-top: 20px;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s ease;
}

.fecharsugestao:hover {
  transform: scale(1.05);
  color: red;
}

.divfecharsugestao{
  display: flex;
  justify-content: center;
  align-items: center;
}

.textoemailsugestao{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkemailsugestao{
  text-decoration: none;
  color: white;
  font-size: larger;
  text-align: center;
  background-color: #05203d;
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
  width: 130px;
  border: 2px solid rgb(236, 198, 128);
  cursor: pointer;
  transition: 0.5s;
}

.linkemailsugestao:hover {
  color: greenyellow;
  transform: scale(1.05);
}

.botaosugestao{
  display: flex;
  justify-content: center;
}

.confirmarsugestao{
  background-color: white;
  font-size: larger;
  color: black;
  margin-top: 20px;
  width: 10px;
  border-radius: 5px 5px;
  padding: 10px;
  border: 2px solid black;
  transition: 0.5s ease;
  cursor: pointer;
}

.confirmarsugestao:hover{
  background-color: black;
  color: white;
}

.contentsugestao{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* KI: MEDIA QUERY RESPONSIVA */
@media (max-width: 900px) {

  header {
    flex-direction: column;
  }

  .cabecario {
    flex-direction: row;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
  }

  .input-search{
    width: 250px;
  }

  .divdobotaosugerir{
    width: 180px;
    padding: 0px;
    margin-right: 0px;

  }

  .navegacao {
    justify-content: left;
    margin-right: 0px;
    margin-left: 28px;
    margin-top: 25px;
  }

}

@media (max-width: 550px) {
    header {
    flex-direction: column;
  }

  .cabecario {
    flex-direction: row;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
  }

  .divdobotaosugerir{
    width: 180px;
    padding: 0px;
    margin-right: 90px;
    margin-right: 0px;
  }

  .navegacao {
    justify-content: left;
    margin-right: 0px;
    margin-left: 22px;
    margin-top: 25px;
  }

}